
/*Resetting Default HTML setting*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*adding root colors*/
:root{
    --black: rgb(0 , 0 , 0, 0.9);
    --white: #ffffff;
    --gradient1:linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    --gradient2:linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    --gradient3:linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
    --gradient4:linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
    --gradient5:linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
}


/* navbar style wrapper */
.navbarSection{
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

/* navbar style */
.navbar{
    background-color: var(--black);
    color:var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 10px;
    width: 80%;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.1)
}

/* logo container style */
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* logo text style */
.logo a {
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    font-size: large;
    margin-left: 60px;
    padding: 2px;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    color: #96e6a1;
}

/* nav link container */
.navlinks ul {
    display: flex;
    list-style: none;
    margin-right: 260px;
    
}

/* nav links style - desktop  */
.navlinks ul li a  {
    text-decoration: none;
    color: var(--white);
    margin-left: 10px;  
    font-size: large;
    padding: 5px; 
    
    border-width: 1px;
    border-radius: 5px;
}

.navlinks ul li a:hover {
    background-color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
    color: black;
}




/* mobile media query */

@media (max-width: 600px) {

    /* nav links will be hidden on mobile view */
.navlinks ul {
    display: none;
    
}


  .navbarSection{
    
    display: flex;
    justify-content: center;
    background-color: black;
    align-items: center;


}


.navbar{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    padding: 0;
    margin-bottom: 10px;
    border-radius: 0;
    height: 2rem;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.1);
    background-color: var(--black);
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo a {
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    font-size: x-large;
    padding: 1rem;
    cursor: pointer;
    margin-left: 0;
    margin-right: 0;
}

}


/* media query for tabled */

@media (min-width: 768px) and (max-width: 1024px) {
  /* Your tablet-specific styles go here */
  .navbar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .navlinks ul{
    margin-right: 0;
  }
}